.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

@media (min-width: 992px) {
  .rounded-lg-3 {
    border-radius: 0.3rem;
  }
}
.btn-blue {
  color: white !important;
  background-color: #f7941d;
  border: 2px solid white;
  border-radius: 10px !important;
  font-size: 16px;
  transition: 0.3s;
}
.btn-blue:hover {
  color: #154a9d !important;
  background-color: white;
  border: 2px solid #154a9d;
}
.btn-white {
  color: white !important;
  background-color: #f7941d;
  border-radius: 10px;
  font-size: 16px;
  transition: 0.3s;
}
.btn-white:hover {
  color: #154a9d !important;
  background-color: white;
}

.btn-animation {
  transition: all 300ms ease-in-out;
  box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
  animation: pulsing 2.25s infinite cubic-bezier(0.66, 0, 0, 1);
}
@-webkit-keyframes pulsing {
  to {
    box-shadow: 0 0 0 20px rgba(232, 76, 61, 0);
  }
}
.hero {
  font-family: "DM Sans", sans-serif;
  min-height: 750px;
  background-image: url("assets/img/sect1.webp");
  background-position: center;
  background-size: 120%;
  position: relative;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 43, 107, 0.8);
  z-index: 1;
}
.hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("assets/img/element-hero.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  z-index: 2;
}
.hero .konten {
  position: relative;
  z-index: 5;
}
.hero .navbar {
  position: relative;
  z-index: 5;
}
.hero .navbar-brand img {
  max-height: 30px;
}
.btn-blue-circle {
  position: absolute;
  bottom: 1%;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 5;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #154a9d;
  color: white;
  overflow: hidden;
}
.btn-blue-circle .animation-down {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(5px);
  animation: down 1s infinite linear 0s;
}
@-webkit-keyframes down {
  0% {
    transform: translateY(5px);
  }
  20% {
    transform: translateY(20px);
  }
  40% {
    transform: translateY(5px);
  }
}
.btn-blue-circle:hover {
  background-color: #154a9d;
  color: white;
}

@media (min-width: 567px) {
  .btn-blue-circle {
    height: 40px;
    width: 40px;
    bottom: 1%;
  }
}
@media (min-width: 768px) {
  .btn-blue-circle {
    height: 50px;
    width: 50px;
    bottom: 2%;
  }
}
@media (min-width: 992px) {
  .btn-blue-circle {
    height: 60px;
    width: 60px;
    bottom: 3%;
  }
}

/* ------------------------------------------------------------------------------------------------------ */

.info {
  position: relative;
  background-image: url("assets/img/car-driving.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 80px 0px;
  font-family: "DM Sans", sans-serif;
}
.info::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 43, 107, 0.8);
  z-index: 1;
}

.info .container {
  position: relative;
  z-index: 5;
}
.info .image {
  height: 260px;
  width: 260px;
  border-radius: 12px;
  background-color: white;
  margin: 0 auto;
  overflow: hidden;
}
.info .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info h1 {
  font-size: 28px;
  padding-top: 80px;
}
.info h2 {
  font-size: 18px;
  letter-spacing: 0.07em;
}
.info p.lead {
  font-size: 15px;
}
@media (min-width: 768px) {
  .info h2 {
    font-size: 22px;
  }
  .info .image {
    height: 200px;
    width: 200px;
  }
}
@media (min-width: 992px) {
  .info h1 {
    padding-top: 0px;
  }
  .info h2 {
    font-size: 24px;
  }
  .info .image {
    height: 250px;
    width: 250px;
  }
}
@media (min-width: 1200px) {
  .info {
    min-height: 950px;
    padding: 70px 0px;
  }
  .info h1 {
    width: 70%;
    margin-top: 0px;
  }
  .info p.lead {
    letter-spacing: 0.05em;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 18px;
  }
}
/* ------------------------------------------------------------------- */
.text-blue {
  color: #154a9d;
}
.step {
  position: relative;
  font-family: "DM Sans", sans-serif;
  padding: 80px 0px;
}

.step .line-step {
  position: relative;
  display: flex;
  justify-content: center;
}
.step .line-step .lingkaran {
  position: absolute;
  top: 0;
  height: 27px;
  width: 27px;
  background-color: #f7941d;
  border-radius: 50%;
  z-index: 4;
}
.step .step-items.one {
  height: 80px;
  color: #154a9d;
  font-weight: 500;
}
.step .step-items:not(.one) {
  height: 75px;
  font-weight: 500;
  color: #154a9d;
}
.step .step-items button {
  margin-top: -6px;
}
.step .step-items p.one {
  margin-top: -7px;
}
.step .line-step .garis {
  position: absolute;
  top: 0;
  height: 100%;
  width: 4px;
  background-color: #154a9d;
}

.step h1 img {
  max-height: 28px;
}
.step p.lead {
  font-size: 15px;
}
@media (min-width: 992px) {
  .step h1 {
    width: 90%;
  }
  .step h1 img {
    max-height: 40px;
  }
  .step p.lead {
    font-size: 18px;
  }
  .step .step-items {
    height: 60px;
  }
  .step .step-items.one {
    height: 70px;
  }
  .step .step-items:not(.one) {
    height: 65px;
  }
}

/* -------------------------------------------------------------------------------------------- */
.syarat {
  position: relative;
  padding: 120px 0px;
  color: white;
  font-family: "DM Sans", sans-serif;
}

@media (min-width: 992px) {
  .syarat img {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .syarat img {
    max-width: 480px;
  }
}
@media (min-width: 1400px) {
  .syarat img {
    max-width: 560px;
  }
}
/* .syarat .image {
  height: 300px;
  width: 200px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 40px;
}
@media (min-width: 992px) {
  .syarat .image {
    height: 500px;
    width: 300px;
  }
}
.syarat .image::after {
  content: "";
  position: absolute;
  top: 5%;
  bottom: -5%;
  left: -10%;
  right: 10%;
  background-color: white;
  border-radius: 15px;

  z-index: -1;
}
.syarat .image img {
  border-radius: 15px;
  z-index: 3;

  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.syarat .container {
  position: relative;
  z-index: 5;
}
.syarat li {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;
}
.syarat::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("assets/img/sect4bg.webp");
  background-size: cover;
  background-position: center;
}
.syarat::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 43, 107, 0.8);
  z-index: 1;
}

/* --------------------------------------------------------------------------------------- */

.faq {
  position: relative;
  font-family: "DM Sans", sans-serif;
  padding: 120px 0px;
}

.faq .accordion-item {
  margin-bottom: 30px;
  border-radius: 7px;
  overflow: hidden;
  border: 1px solid #434343;
  padding: 10px 0px;
}
.faq .accordion-item button {
  box-shadow: none;
  background-color: white;
  border: none;
  color: #434343;
  font-weight: 700;
  font-size: 20px;
}
.faq h1 {
  margin-bottom: 2rem;
}
.accordion-button::after {
  background-color: #434343;
  background-image: url("assets/img/chevron-down.png") !important;
  background-size: 50%;
  background-position: center;
  padding: 3px !important;
  height: 25px;
  width: 25px;
  border-radius: 50%;
}

/* ---------------------------------------------------------------------------------------------------- */
.join {
  position: relative;
  font-family: "DM Sans", sans-serif;
  padding: 20px;
  background-color: white;
}
.join::after {
  content: "";
  position: absolute;
  top: 95%;
  left: 0;
  right: 0;
  height: 80px;
  border-radius: 0px 0px 40px 40px;
  background-color: white;
}
.join img {
  max-width: 280px;
}
@media (min-width: 576px) {
  .join img {
    max-width: 300px;
  }
}
@media (min-width: 768px) {
  .join img {
    max-width: 320px;
  }
}
@media (min-width: 992px) {
  .join {
    padding: 120px;
  }
  .join img {
    max-width: 400px;
  }
}
@media (min-width: 1200px) {
  .join img {
    max-width: 500px;
  }
}
/* ---------------------------------------------------------------------------------------------------- */

/* footer */

footer {
  padding-top: 100px;
  background-color: rgba(0, 43, 107, 0.8);
  text-align: center;
  color: white;
  font-family: "DM Sans", sans-serif;
}

@media (min-width: 992px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 22px;
  }
  p {
    font-size: 18px;
  }
}
@media (min-width: 1400px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-size: 18px;
  }
}
